* {
    margin: 0;
    padding: 20px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
     transition: background-color 0.8s ease;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
        width: 530px;
        height: 371px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        position: relative;
        opacity: 1;
        transition: opacity 0.8s ease;
        img {
            position: absolute;
        }
        .title {
            font-style: bold;
            color: black;
            position: absolute;
        }
        .discript {
            color: #000;
            position: absolute;
            bottom: 120px;
        }
    }
    .box1 {
        display: none;
        flex-direction: column;
        gap: 5px;
        .title {
            color: black;
        }
        .title-2 {
            color: black;
        }
    }
    .button {
        width: 100px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        color: #ffffff;
        border-radius: 15px;
        cursor: pointer;
        transition: 
            width 0.8s ease,
            height 0.8s ease,
            background-color 0.8s ease;
    }

}
.nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 65px;
        cursor: pointer;
        border-radius: 20px;
        background-color: antiquewhite;
    }
}